.sign-in {
  position: relative;
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  width: 500px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: #9b59b6;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}

.sign-in:hover {
  color: white;
  filter: brightness(90%);
}

.login-btn {
  background-image: url("img/actrec.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 21%;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
